<ion-header>
  <ion-navbar>
    <ion-title>
      {{rink.Parc}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closePage()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>

    <ion-list-header>
      Détails
    </ion-list-header>

    <ion-item *ngIf="rink.Ouvert">\
      <ion-label>État</ion-label>
      <ion-label color="primary">Ouverte</ion-label>
    </ion-item>
    <ion-item *ngIf="!rink.Ouvert">
      <ion-label>Status</ion-label>
      <ion-label color="danger">Fermée</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Participants</ion-label>
      <ion-label>{{participants.length}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-label>{{rink.Nom}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Arrondissement</ion-label>
      <ion-label>{{rink.Arrondissement}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Mise-à-jour</ion-label>
      <ion-label>{{rink.DateMaj}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>
      Qualité de la glace
    </ion-list-header>

    <ion-item>
      <ion-label>Condition</ion-label>
      <ion-label>{{rink.Condition}}</ion-label>

    </ion-item>

    <ion-item *ngIf="rink.Arrose">\
      <ion-label>Arrosée</ion-label>
      <ion-label color="primary">Oui</ion-label>
    </ion-item>
    <ion-item *ngIf="!rink.Arrose">
      <ion-label>Arrosée</ion-label>
      <ion-label color="danger">Non</ion-label>
    </ion-item>

    <ion-item *ngIf="rink.Resurface">\
      <ion-label>Resurfacée</ion-label>
      <ion-label color="primary">Oui</ion-label>
    </ion-item>
    <ion-item *ngIf="!rink.Resurface">
      <ion-label>Resurfacée</ion-label>
      <ion-label color="danger">Non</ion-label>
    </ion-item>

    <ion-item *ngIf="rink.Deblaye">\
      <ion-label>Déblayée</ion-label>
      <ion-label color="primary">Oui</ion-label>
    </ion-item>
    <ion-item *ngIf="!rink.Deblaye">
      <ion-label>Déblayée</ion-label>
      <ion-label color="danger">Non</ion-label>
    </ion-item>

  </ion-list>

  <button ion-button round (click)="joinGame()">Joindre</button>
</ion-content>